[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	name = Lang Sharpe
	email = langer8191@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINubQilDH2blUOEMF2vLuINucNjNTFQUw3UCPnM8su+t
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[push]
	default = current
[merge]
  conflictstyle = diff3
[diff-so-fancy]
	markEmptyLines = false
[alias]
	follow = log -p -M --follow --stat --
[rebase]
	autosquash = true
[init]
	defaultBranch = main
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = false
