[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = subl -n -w
[user]
	name = Lang Sharpe
	email = lang.sharpe@fivegoodfriends.com.au
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[push]
	default = simple
[merge]
  conflictstyle = diff3
[diff-so-fancy]
	markEmptyLines = false
[alias]
	follow = log -p -M --follow --stat --
[rebase]
	autosquash = true
