[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	name = Lang Sharpe
	email = langer8191@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[push]
	default = simple
[merge]
  conflictstyle = diff3
[diff-so-fancy]
	markEmptyLines = false
